*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.text-justify{
    text-align: justify;
}
.fw{
    font-weight: 600;
}
header .tophead{
    height: 30px;
    background: #34313a;
    
}
header .tophead ul li a{
     margin: 0px 20px;
     color: #fff;
     font-size: 13px;
} 
header .tophead .leftgroup ul li a.active{
    width: auto;
    height: auto;
    color: #b00000;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    position: relative;
    background: #fff;
    display: inline-block;
   
}
header .tophead .leftgroup ul li a.active:hover{
    text-decoration: none;

}
header .tophead .leftgroup ul li a.active::before{
    content: '';
    top: 0;
    width: 0;
    height: 0;
    right: 100%;
    position: absolute;
    border-right:15px solid #fff;
    border-bottom:0px solid #fff;
    border-top: 30px solid transparent;
    
}
header .tophead .leftgroup ul li a.active::after{
    content: "";
    top: 0px;
    width: 0;
    height: 0;
    left: 100%;
    position: absolute;
    border-top: 30px solid #fff;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
}

header .tophead .leftgroup ul li a:hover{
    text-decoration: underline;
}
header .tophead .rightgroup ul li{
    margin: 0px 15px;
} 

header .tophead .rightgroup ul li select{
    border:none;
    color: #fff;
    font-size: 13px;
    background: #34313a;
}
nav a{
    font-size: 14px !important;
    font-weight: 600px !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top:0px;
}
/*nava bar slider start*/
.carousel-inner .carousel-item{
    height: 400px;
}
@keyframes zoomin{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.3);
    }
}
.carousel-inner .carousel-item img{
    animation: zoomin 20s infinite;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius:50%;
}
.carousel-inner .carousel-item .carousel-caption{
    bottom: 3rem;
}
.carousel-indicators{
    bottom: 2.5rem;
    
}

/*nava bar slider end*/
/*INTERNATIONAL REMOVALS & STORAGE*/
.interbox{
    min-height: 200px;
    margin-top: -50px;
    z-index: 9;
    background: #fff;
}
.interbox p{
    font-size: 17px;
}
.interbox a{
    color: #b00000;
}
/*INTERNATIONAL REMOVALS & STORAGE*/
/*individuals corporation start*/
.imgbox{
    overflow: hidden;
}
.imgbox img:hover{
    transition: 1s all;
    transform: scale(1.2);

}
/*individuals corporation end*/

/*Domestic & International Removals Solutions start*/
.domastic{
    background: #34313a;
}
.domastic img:hover{
    transform: scale(1.1);
}
.domastic h5{
    font-size: 1rem;
    font-weight: 600;
}
.domastic p{
    font-size: 13px;
}
/* Client satisfaction Start*/
.clientsatisfaction .container .row h5{
    font-size: 1rem;

}
/* Client satisfaction End*/
/* world start*/
.button {
    background-color: #b00000; 
    border: none;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  .button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button a{
    color: #fff;
  } 
  /*.button i .fa.fa-chevron-right{
    color: #fff;
  }*/ 
/* world end*/
/* worldnetwor start*/
.worldwidenetworl .container .row .worldnetwork p{
    line-height: 22px;
    text-align: justify;
    margin-bottom: 15px;
    font-size: auto;
    padding: 0px 100px;
}
.worldwidenetworl .container .row .worldnetwork a.btn{
    margin: 30px 10px;
    width: 220px;
    padding: 10px;
    border-radius: 0%;


}
.worldwidenetworl .container .row .worldnetwork a.btn-second {

    background-color: #b00000;
    color: #fff;
    text-transform: uppercase;
}
.worldwidenetworl .container .row .worldnetwork a.btn-first{

    background-color:transparent;
    border: 1px solid #b00000;
    color: #b00000;
    text-transform: uppercase;
}
.worldwidenetworl .container .row .worldnetwork a.btn-first:hover{
    background-color: #b00000;
    color: #fff;
}

/* worldnetwork end*/
/*footer start*/
    .qutoe-button{
        margin: 10px 10px;
        width: 200px;
        

    }
    .qutoe-button a.qtbtn{
        background-color: #b00000;
        color: #fff;
        text-transform: uppercase;

    }
/*footer end*/

/*Domestic & International Removals Solutions end*/
/*Domestic & International Removals Solutions end*/


/*media queary*/
@media only screen and(max-width: 1023px){
    header .tophead{
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 10px !important;
    }
    @media only screen and(min-width:750){
        .carousel-inner .carousel-item .carousel-caption {
            bottom: 9.5rem !important;
        }
        .carousel-indicators {
            bottom: 9rem !important;
        }
    }
}

/*media queary*/